<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wine Store - Products </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Produse</h3>
	<p>Adauga un produs <a href="/addProduct">aici</a></p>
	<table>
	    <thead>
	        <tr>
	            <th> Nume </th>
	            <th> Soi </th>
	            <th> Tip </th>
	            <th> Culoare </th>
	            <th> Pret </th>
	            <th> Stoc </th>
				<th> Actiuni</th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:if="${products.empty}">
	            <td colspan="2"> Nu sunt produse disponibile </td>
	        </tr>
	        <tr th:each="p : ${products}">
	            <td><span th:text="${p.name}"> Nume </span></td>
	            <td><span th:text="${p.soi}"> Soi </span></td>
	           	<td><span th:text="${p.tip}"> Tip </span></td>
	            <td><span th:text="${p.culoare}"> Culoare </span></td>
	            <td><span th:text="${p.pret}"> Pret </span></td>
	            <td><span th:text="${p.stoc}"> Stoc </span></td>
	            <td>
					<a th:href="${'updateProduct/' + p.id }">Actualizeaza</a>
					<a th:href="${'deleteProduct/' + p.id }">Sterge</a>
				</td>
	        </tr>
	    </tbody>
	</table>

	<h3>Comenzi</h3>
	<table>
		<thead>
		<tr>
			<th> Id </th>
			<th> Nume client </th>
			<th> Adresa client </th>
			<th> Email client </th>
			<th> Telefon client </th>
			<th> Produse </th>
		</tr>
		</thead>
		<tbody>
		<tr th:if="${orders.empty}">
			<td colspan="2"> 0 comenzi procesate </td>
		</tr>
		<tr th:each="o : ${orders}">
			<td><span th:text="${o.id}"></span></td>
			<td><span th:text="${o.clientName}"></span></td>
			<td><span th:text="${o.clientAddress}"></span></td>
			<td><span th:text="${o.clientEmail}"></span></td>
			<td><span th:text="${o.clientPhone}"></span></td>
			<td>
				<ul>
					<li th:each="orderedProducts :${o.orderedProducts}">
						<span th:text="${orderedProducts.product.name}"></span> - <span th:text="${orderedProducts.quantity}"></span>
					</li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</body>